.container {
  /* background: rgb(10, 108, 124);
  background: linear-gradient(
    90deg,
    rgba(10, 108, 124, 1) 0%,
    rgba(0, 245, 253, 1) 63%,
    rgba(0, 212, 255, 1) 100%
  ); */
  width: 99vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.title {
  display: flex;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  padding-left: 20vh;
}

.tableContainer {
  margin-left: 20px;
  margin-right: 20px;
}

.titleContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
  padding-top: 10vh;
}
