.container {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 10vh;
  }

 .createButton {
  font-size: 1rem;
}

 .card {
  padding-top: 20px;
 }

 .titleContainer {
  margin-top: 15px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  width: auto;
  align-items: flex-start;
  height: auto;
  gap: 10px;
}