.link {
    text-wrap: wrap;
    text-decoration: none;
    color: white !important;
}

.nav {
    margin-bottom: 15px;
}

.nav:hover {
    color: black !important;
    background-color: rgb(10, 191, 246) !important;
    opacity: 90% !important;
}

.nav_text {
    text-transform: capitalize;
    color: white !important;
    font-weight: 400;
    text-wrap: wrap;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}