.container {
  padding-top: 7vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}
.paginate {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.title {
  background-color: white;
  padding-top: 5px;
  display: flex;
  color: rgb(0, 5, 1);
  justify-content: left;
  padding-left: 20vh;
  margin-left: 20px;
  margin-right: 20px;
}

.link {
  font-size: 1.5rem;
  text-decoration: none;
}

.titleContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 20px;
  padding-bottom: 10px;
  width: auto;
  height: auto;
  gap: 10px;
}

.createButton {
  font-size: 1rem;
}