.container {
    background: rgb(10,108,124);
    background: linear-gradient(90deg, rgba(10,108,124,1) 0%, rgba(0,245,253,1) 63%, rgba(0,212,255,1) 100%);
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.cards {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    height: 100%;
}