.container {
  background: rgb(10, 108, 124);
  background: linear-gradient(
    90deg,
    rgba(10, 108, 124, 1) 0%,
    rgba(0, 245, 253, 1) 63%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.cards {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  height: 100%;
}

.title {
  display: flex;
  color: darkslategray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  min-width: 90vw;
  justify-content: left;
  padding-left: 20vh;
}

.link {
  margin-top: 10vh;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}

.titleContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 8%;
  gap: 10px;
}
