.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
}

.header,
.footer,
.aside,
.body {
  border: 1px solid #ddd;
}

.header {
  padding-left: 50px;
}

.aside {
  background-color: slategrey;
  padding-top: 20px;
  min-width: 14vw;
}

.body {
  max-width: 86vw;
  min-width: 85vw;
}
