.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
}

.header,
.footer,
.aside,
.body {
  border: 1px solid #ddd;
}

.header {
  padding-left: 50px;
}

.aside {
  background: rgb(0, 0, 0);
  background: linear-gradient(355deg, rgba(0, 0, 0, 1) 0%, rgba(134, 136, 138, 1) 54%, rgba(133, 133, 133, 1) 100%);
  padding-top: 20px;
  min-width: 14vw;
}

.body {
  max-width: 86vw;
  min-width: 85vw;
  background-color: rgb(143, 213, 243);
  /* background-image: url('./assets/inline_image_preview.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Default font size for html */
html {
  font-size: 0.5rem;
}

/* Media query for small screens and up */
@media (min-width: 576px) {
  html {
    font-size: 0.6rem;
  }
}

/* Media query for medium screens and up */
@media (min-width: 768px) {
  html {
    font-size: 0.9rem;
  }
}

/* Media query for large screens and up */
@media (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}
