.container {
  /* border: 2px solid red; */
  color:#fff;
  font-weight: 600;
  text-transform: uppercase;
  /* background-color: rgb(15, 143, 235); */
  background-image: url('../../../public/fondo.png');
  display: flex;
  width: 99vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  text-align: center;
}

.text-muted {
    color: aqua !important;
}