.container {
  color: rgb(5, 5, 5);
  background-color: rgb(15, 143, 235);
  display: flex;
  width: 99vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.text-muted {
    color: aqua !important;
}