.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 2;
  max-height: 55px;
  min-height: 55px;
  padding-left: 20px;
  align-items: center;
}

.link {
  padding: 3px;
  font-size: 1.1em;
  color: rgb(4, 70, 70);
  text-decoration: none;
  margin: 5px;
  margin-left: 10px;
}

.link:hover {
  color: rgb(5, 5, 5);
  background-color:rgb(82, 173, 231);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  transition: 0.5s;
}
