.container {
  min-width: 100vw;
  background-color: rgba(245, 242, 242, 0.892);
  display: flex;
  justify-content: left;
  position: fixed;
  z-index: 2;
  max-height: 7vh;
  padding-left: 20px;
}

.link {
  font-size: 1.1em;
  color: rgb(4, 70, 70);
  text-decoration: none;
  margin: 5px;
  margin-left: 10px;
}

.link:hover {
  color: rgb(5, 5, 5);
}
