.link{
    font-size: 1em;
    color: rgb(14, 199, 206);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: left;
}

.link:hover {
    font-size: 1.1em;
}
